<p>users-list works!</p>
<ul>
    <li *ngFor="let user of users$ | async" (click)="selectUser(user)"> 
        {{ user.name }}, {{ user.email }}, {{ user.id }}, {{ user.lastLogin }}</li>
</ul>
<p *ngIf="selectedUser">
    selectedUser: {{selectedUser.name}}
</p>

<table mat-table [dataSource]="users">
    <mat-text-column name="name" headerText="Name"></mat-text-column>
    <mat-text-column name="email" headerText="E-mail"></mat-text-column>
    <mat-text-column name="id" headerText="ID"></mat-text-column>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
