<mat-toolbar color="primary">
      <span><a mat-flat-button color="primary" routerLink="/users/simple" routerLinkActive="mat-accent">Users</a></span>
      <span><a mat-flat-button color="primary" routerLink="/users/extended" routerLinkActive="mat-accent">Extended users</a></span>
      <span><a mat-flat-button color="primary" routerLink="/films" routerLinkActive="mat-accent">Films</a></span>
      <span class="spacer"></span>
      <span 
            *ngIf="username; else elseBlock"
            ><button 
            type="button" 
            mat-flat-button 
            color="primary" 
            (click)="logout()">
            <mat-icon>account_box</mat-icon>
            <strong>{{username}}</strong>Logout</button>
      </span>
      <ng-template #elseBlock>
            <a 
            mat-flat-button 
            color="primary" 
            routerLink="/login" 
            routerLinkActive="mat-accent"
            >
            <mat-icon>account_box</mat-icon>Login</a>
            <a 
            mat-flat-button 
            color="primary" 
            routerLink="/register" 
            routerLinkActive="mat-accent"
            ><mat-icon>account_box</mat-icon>Register</a>
      </ng-template>
</mat-toolbar>
